@import 'sass/_colors';
@import 'sass/_typography';
@import 'sass/spacing';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: $bgBody ;
  color: $branco;
}

@import 'sass/_layout';